<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhangjh.wx.program.mapper.pinyin.TblWrongsMapper">

    <insert id="insertTblWrongs"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `tbl_wrongs`
        (
        <trim suffixOverrides=",">
            <if test="userId!=null">
                `user_id`,
            </if>
            <if test="character!=null">
                `character`,
            </if>
            <if test="pinyin!=null">
                `pinyin`,
            </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="character!=null">
                #{character},
            </if>
            <if test="pinyin!=null">
                #{pinyin},
            </if>
        </trim>
        )
    </insert>


    <update id="update">
        UPDATE `tbl_wrongs`
        SET
        <trim suffixOverrides=",">
            <if test="isDeleted != null">
                `is_deleted` = #{isDeleted},
            </if>
            <if test="userId != null and userId!=''">
                `user_id` = #{userId},
            </if>
            <if test="character != null and character!=''">
                `character` = #{character},
            </if>
            <if test="pinyin != null and pinyin!=''">
                `pinyin` = #{pinyin},
            </if>
        </trim>
        WHERE `id` = #{id}
    </update>

    <resultMap type="me.zhangjh.wx.program.model.pinyin.TblWrongs" id="TblWrongsMap">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="userId" column="user_id"/>
        <result property="character" column="character"/>
        <result property="pinyin" column="pinyin"/>
    </resultMap>


    <select id="query" resultMap="TblWrongsMap">
        select *
        from  `tbl_wrongs`
        <trim prefix="where" suffixOverrides="and | or">
            is_deleted = 0 and
            <if test="userId != null and userId!=''">
                `user_id` = #{userId} and
            </if>
            <if test="character != null and character!=''">
                `character` = #{character} and
            </if>
        </trim>
    </select>
</mapper>