<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhangjh.wx.program.mapper.chatgpt.TblChatMapper">

    <resultMap type="me.zhangjh.wx.program.model.chatgpt.TblChat" id="TblChatMap">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="userId" column="user_id"/>
        <result property="question" column="question"/>
        <result property="answer" column="answer"/>
    </resultMap>

    <sql id="allResult">
        <trim suffixOverrides=",">
            `id`,
            `create_time`,
            `modify_time`,
            `is_deleted`,
            `user_id`,
            `question`,
            `answer`,
        </trim>
    </sql>

    <insert id="insert" >
        INSERT INTO `tbl_chat`
        (
        <trim suffixOverrides=",">
            <if test="userId!=null">
                `user_id`,
            </if>
            <if test="question!=null">
                `question`,
            </if>
            <if test="answer!=null">
                `answer`,
            </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="question!=null">
                #{question},
            </if>
            <if test="answer!=null">
                #{answer},
            </if>
        </trim>
        )
    </insert>
    <delete id="deleteById">
        UPDATE `tbl_chat`
        SET is_deleted = 1
        WHERE `id` = #{id} and is_deleted = 0;
    </delete>

    <select id="queryById" resultType="me.zhangjh.wx.program.model.chatgpt.TblChat">
        select
        <include refid="allResult" />
        from tbl_chat
        where is_deleted = 0 and id = #{id}
    </select>

    <select id="queryByPage" resultType="java.util.List" parameterType="me.zhangjh.wx.program.model.chatgpt.PageChatQuery">
        select
        <include refid="allResult" />
        from tbl_chat
        where is_deleted = 0
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="pageIndex != null">
            <if test="pageSize != null">
                limit ${(pageIndex - 1) * pageSize}, #{pageSize}
            </if>
        </if>
    </select>

    <select id="count" resultType="java.lang.Long" parameterType="me.zhangjh.wx.program.model.chatgpt.TblChat">
        select count(1)
        from tbl_chat
        where is_deleted = 0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="userId != null">
            and user_id = #{userId}
        </if>
    </select>


</mapper>